.arrow {
	position: fixed;
	bottom: 8px;
	right: 8px;
	font-size: 2.5rem;
	background: none;
	border: none;
	cursor: pointer;
	color: var(--gray-letter-200);
	z-index: 900;
}

@media (max-width: 425px) {
	.arrow {
		display: none;
	}
}
