.container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
	min-height: 100vh;
}

.description {
	width: 50%;
}

.description div {
	color: var(--gray-letter-100);
	display: flex;
	flex-direction: column;
	gap: 20px;
	font-weight: 500;
	letter-spacing: 1px;
}

.img__container {
	width: 300px;
	border-radius: 50%;
	overflow: hidden;
}

.img__container img {
	filter: drop-shadow(50px 100px 100px var(--red-300));
}

/* Tablet */
@media (max-width: 768px) {
	.container {
		flex-direction: column;
		padding-top: 60px;
	}

	.description {
		width: 80vw;
	}
}

@media (max-width: 425px) {
	.description {
		width: 85vw;
	}
}
