.hero__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.hero__img {
	width: 250px;
	height: 250px;
	border-radius: 74% 26% 50% 50% / 34% 21% 79% 66%;
	box-shadow: 0 0.25rem 2.5rem -0.875rem var(--red-200);
}

.hero__container h1 {
	font-size: 2.4rem;
}

.hero__container h2 {
	font-size: 1.5rem;
	font-weight: 400;
	padding: 0px 0 25px;
	color: var(--gray-letter-200);
}

.button__container {
	display: flex;
	gap: 15px;
}

/* animation */

/* @keyframes fadeLeft {
	from {
		left: 150px;
		opacity: 0;
	}
	to {
		left: 0;
		opacity: 1;
	}
}

@keyframes fadeRight {
	from {
		right: 150px;
		opacity: 0;
	}
	to {
		right: 0;
		opacity: 1;
	}
} */
