.card__container {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
	justify-content: center;
}

.card__img {
	position: relative;
	width: 40%;
	min-width: 470px;
	height: max-content;
	align-self: center;
}

.card__img img {
	position: relative;
	border-radius: 10px;
	z-index: 100;
	width: 100%;
}

.card__img_bg {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 85% 15% 68% 32% / 44% 11% 89% 56%;
	background: var(--red-200);
	filter: blur(2rem);
}

.card__text {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 15px;
	flex: 1;
	min-width: 430px;
	max-width: 750px;
}

.card__title {
	font-size: 1.6rem;
	line-height: normal;
}

.card__description {
	width: 100%;
	color: var(--gray-letter-200);
	font-weight: 500;
}

.tags {
	display: flex;
	gap: 5px;
	font-size: 0.7rem;
	color: var(--gray-letter-100);
}

.tag {
	background-color: var(--black-100);
	border-radius: 999px;
	padding: 3px 10px;
	font-weight: 600;
	line-height: normal;
}

.buttons {
	display: flex;
	gap: 20px;
}

/* Tablet */

@media (max-width: 999px) {
	.card__container {
		text-align: center;
	}

	.tags {
		justify-content: center;
	}

	.buttons {
		justify-content: center;
	}

	.card__img {
		width: 80vw;
	}
}

@media (max-width: 768px) {
	.card__text {
		max-width: 600px;
	}
}

/* Cellphone */

@media (max-width: 500px) {
	.card__img {
		width: 90vw;
		min-width: 300px;
	}

	.buttons {
		flex-direction: column;
		margin: 0 auto;
	}
}

@media (max-width: 425px) {
	.card__description {
		width: 90vw;
		margin: 0 auto;
	}
}
