.container {
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	top: 10px;
	left: 20px;
	right: 20px;
	padding: 8px 20px;
	background: var(--navbar-bg);
	border-radius: 8px;
	z-index: 800;
	backdrop-filter: blur(15px);
	border: 1px solid var(--black-100);
	color: #b5b5b5;
}

.logo {
	width: 24px;
	height: 24px;
}

.nav {
	display: flex;
	align-items: center;
}

.nav__sections {
	position: relative;
	display: flex;
	gap: 15px;
	padding-right: 10px;
	border-right: 1px solid #b5b5b5;
	font-weight: 500;
	font-size: 0.9rem;
}

.nav__socials {
	display: flex;
	gap: 10px;
	padding-left: 10px;
	font-size: 1.475rem;
}

a {
	letter-spacing: 1px;
	cursor: pointer;
	transition: all 0.3s ease;
}

a:hover {
	color: #ffffff;
}

.nav__mobile {
	display: none;
}

.nav__icon__mobile {
	display: none;
}

/* Tablet */

@media (max-width: 768px) {
	.container {
		padding: 15px 0;
		top: 0;
		left: 0;
		right: 0;
		border-radius: 0;
		border: none;
		border-bottom: 1px solid var(--black-100);
	}

	.logo__container {
		position: absolute;
		top: 0;
		padding: 15px 20px;
	}

	.logo {
		width: 35px;
		height: 35px;
	}

	.nav {
		flex-direction: column-reverse;
		width: 100%;
		gap: 15px;
	}

	.nav__sections {
		display: none;
		flex-direction: column;
		width: 100%;
		padding-bottom: 30px;
		font-size: 2rem;
		border: none;
		border-radius: 8px;
		z-index: 900;
		transition: all 3s ease-in-out;
	}

	.nav__sections_active {
		display: flex;
	}

	.nav__sections a {
		padding: 10px 20px;
		display: flex;
		align-items: center;
		gap: 15px;
	}

	.nav__socials {
		align-self: flex-end;
		font-size: 2.2rem;
		padding-right: 20px;
		gap: 25px;
	}

	.nav__icon__mobile {
		display: block;
	}
}
