.layout {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background: var(--black-200);
	color: #ffffff;
	overflow-x: hidden;
	padding-bottom: 40px;
}
